<div class="total">
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
    <p class="total__count">
        1225$
    </p>
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
    <mat-icon style="-webkit-text-fill-color: #FFFF00">star</mat-icon>
</div>
